<a href="/">Inicio</a>
<ul>
	<li>Argumentos de entrada: <strong>{{info.args}}</strong></li>
	<li>Sistema operativo: <strong>{{info.platform}}</strong></li>
	<li>Versión de Node: <strong>{{info.version}}</strong> </li>
	<li>Memoria total reservada: <strong>{{info.rss}}</strong> </li>
	<li>Path de ejecución: <strong>{{info.path}}</strong></li>
	<li>Process id: <strong>{{info.pid}} </strong></li>
	<li>Carpeta del proyecto: <strong>{{info.folder}} </strong></li>
	<li>CPUs de servidor: <strong>{{info.cpus}}</strong></li>
</ul>

<style>
	body {
		font-family: arial;
	}
</style>